/* @override http://localhost/enciclopedia-version-ajax/auxiliar/enciclopedia.css */

/* CSS BASE */
/* CSS BASE */
BODY
{
	font-weight:bold;
	background: #61300E;
}
a
{
	text-decoration: none;
}
a:link, a:visited
{
	color: #FEBF91;
}

a:hover
{
	color: #FEDFC8;
}
h1{
	font-size: 50px;
	color:   #FEBF91;
	text-align: center;
	margin-bottom: 60px;
}
form
{
	text-align: right;
}
select
{
	width: 60%;
	height: 30px;
	font-size: 14px;
	margin-top: 15px;
	padding: 5px;
	border: 2px solid #FEBF91;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
input
{
	width: 40%;
	height: 15px;
	font-size: 14px;
	margin: 15px 0px 0px 15px;
	padding: 5px;
	border: 2px solid #FEBF91;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
label
{
	color: #FEBF91;
	font-size: 18px;
}
ol, ul
{
	list-style:none;
}
div
{
	margin:0em; padding:0em;	
	overflow: hidden;
	xborder:2px solid green;	
}

/* CSS DIVS BASE */
/* CSS DIVS BASE */
#contenedor
{
}

#izda
{ 
	float:left;
	width: 350px;
	min-width: 330px;
	margin: 20px;
}

#dcha
{
	width: 60%;
	margin: 20px auto 0px auto;
	padding:20px;
	background: #FEDFC8;
	height: 800px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
}

/* CSS DIVS IZDA */
/* CSS DIVS IZDA */
#bso
{
	width:260px; height:330px;
	float: right;
}

#buscar
{
	margin-top:20px;
}
	#sugerencias 
	{
		width:200px;
		border:1px solid white;
		display:none;
		margin-left: 83px;
	}
	#sugerencias ul 
	{
		margin: 0;
		padding: 0;
	}
	#sugerencias ul li 
	{
		padding: .2em;
		border-bottom: 1px solid white;
	}
	.seleccionado
	{
		font-weight:bold;
		background-color: red;
	}

#aleatoria
{
	margin: 40px 10px 20px 0px;
	text-decoration:underline;
	text-align:right;
	color: #FEBF91;
	font-size: 20px;
}
/* CSS DIVS IZDA */
/* CSS DIVS IZDA */


/* CSS DIVS DCHA */
/* CSS DIVS DCHA */
#nombre
{
	margin-top:15px;
	font-size:40px;
	text-align:center;
	text-decoration:underline;
}

#restriccion{
	min-width: 300px;
	overflow: hidden;
}
	#restriccion ul li {
		margin: 20px 0px 10px 10px;
		width: 15px; height: 15px;	
		float:left;
	}

#imagen
{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	margin: 0px 0px 20px 20px;
	padding: 20px;
	min-width: 300px;
	min-height: 300px;
	width:300px; height: 300px;
	float:right;
}
	
#intro
{
	margin-top:10px;
	padding: 0px 10px 0px 0px;
	min-width:  150px; min-height: 150px;
	font-style:italic;
	overflow: visible;
}

#descripcion, #notas
{
	margin-top:1.5em;
	text-align:justify;
	overflow: visible;
}

#pie{
	width: 80%;
	margin: 10px auto 20px auto;
	text-align: center;
}
#pie ul{
	overflow: hidden;
}
#pie ul li
{
	display: inline;
	margin-right: 20px;
}
#pie div{
	
}
